; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

# All files
[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{cs,csx}]
indent_size = 4

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj,msbuildproj,props,targets}]
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# CA1307: Specify StringComparison for clarity
#   Clarity of intent is not required, this is non-localizable code.
[*.cs]
dotnet_diagnostic.CA1307.severity = none

# CA1310: Specify StringComparison for correctness
#   User locales are not a concern.
[*.cs]
dotnet_diagnostic.CA1310.severity = none

# CA1707: Identifiers should not contain underscores
#   Underscores are acceptable for unit test names.
[*.cs]
dotnet_diagnostic.CA1707.severity = none

# CA1852: Seal internal types
#   Sealing classes provides minimal performance improvements and is not a concern.
[*.cs]
dotnet_diagnostic.CA1852.severity = none

# CA1866: Use 'string.Method(char)' instead of 'string.Method(string)' for string with single char
#   Implementing this causes the unit tests to break on macOS and Linux platforms!
[*.cs]
dotnet_diagnostic.CA1866.severity = none
