name: LogicAppUnit-Build

on:
  push:
    branches:
    - main
    - automated_build
    - 'features/**'
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
  
    # Build .NET solution

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
  
    - name: Restore dependencies
      run: dotnet restore
  
    - name: Build
      run: dotnet build --no-restore

    # Install and configure Logic Apps runtime environment

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install Functions Core tools
      run: 'npm install -g azure-functions-core-tools@4 --unsafe-perm true'

    - name: Check Functions Core tools installation
      run: 'func'

    - name: Install Azurite
      run: 'npm install -g azurite@3.24.0'

    - name: Start Azurite services
      run: 'azurite &'

    # Run tests

    - name: Run tests
      run: dotnet test --no-restore  --verbosity normal --logger "TRX"

    # Publish artefacts
    - name: Publish test results
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: ${{ github.workspace }}/LogicAppUnit.Samples.LogicApps.Tests/TestResults/**.trx
